apiVersion: v1
kind: Service
metadata:
  name: {{ .AppName }}
spec:
  type: ClusterIP
  selector:
    app: {{ .AppName }}
  ports:
    - protocol: TCP
      port: {{ .Port }}
      targetPort: {{ .Port }}


